## AUTO CORRECT MODEL USING TEXT DISTANCE

In [24]:
!pip install textdistance

Requirement already satisfied: textdistance in /usr/local/lib/python3.7/dist-packages (4.2.2)

##IMPORTING LIBRARIES

In [25]:
import pandas as pd
import numpy as np
import textdistance
import re
from collections import Counter

Import the Text file and collecting all the uniques words present in it

In [26]:
words = []
with open('/content/auto.txt', 'r') as f:
    file_name_data = f.read()
    file_name_data=file_name_data.lower()
    words = re.findall('[a-z]+',file_name_data)
# This is our vocabulary
V = set(words)
print("Top ten words in the text are:", words[0:10])
print("Total Unique words are ", len(V))

Top ten words in the text are: ['the', 'project', 'gutenberg', 'ebook', 'of', 'moby', 'dick', 'or', 'the', 'whale']
Total Unique words are  17145

Calculating the Most frequent words

In [27]:
word_freq = {}  
word_freq = Counter(words)
print(word_freq.most_common()[0:10])

[('the', 17399), ('and', 7726), ('of', 7669), ('a', 5491), ('to', 5490), ('in', 4848), ('that', 3604), ('his', 2995), ('it', 2953), ('i', 2469)]

Calculating the Probability

In [28]:
probs = {}     
Total = sum(word_freq.values())    
for k in word_freq.keys():
    probs[k] = word_freq[k]/Total

Defining an Autocorrect Function

In [29]:
def my_autocorrect(input_word):
    input_word = input_word.lower()
    if input_word in V:
        return('Your word seems to be correct')
    else:
        sim = [1-(textdistance.Jaccard(qval=2).distance(v,input_word)) for v in word_freq.keys()]
        df = pd.DataFrame.from_dict(probs, orient='index').reset_index()
        df = df.rename(columns={'index':'Word', 0:'Prob'})
        df['Similarity'] = sim
        output = df.sort_values(['Similarity', 'Prob'], ascending=False).head()
        return(output)

Printing a Test case

In [30]:
my_autocorrect('neverteless')

               Word      Prob  Similarity
2358   nevertheless  0.000202    0.750000
13236      boneless  0.000011    0.416667
12266      elevates  0.000004    0.416667
943           never  0.000905    0.400000
6861          level  0.000141    0.400000